.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    
    .header__menu {
        display: flex;
        
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        white-space: pre;
    }
    
    .active {
        color: red;
    }
}